body{
    text-align: center;
    font-family: Arial;
    color: red;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}
#tituloH{
    background: rgb(14, 97, 24);
    color:rgb(255, 255, 255);
    padding: 2%;
    font-size: 20px;
    margin: 0px;
    border: 1px rgb(255, 226, 4) solid;
}